<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../shared/styles.css">
    <link rel="stylesheet" href="style.css">
    <title>Chocolate Cake Recipe</title>
</head>
<body>
<header>
    <img alt="chocolate-cake" src="../../assets/chocolateCake.png">
    <span>Bolo de chocolate</span>
</header>

<main>
    <div id="main-content">
        <section>
            <span>Ingredientes:</span>
            <ul>
                <li>
                    Farinha de trigo
                </li>
                <li>
                    Leite
                </li>
                <li>
                    Chocolate
                </li>
                <li>
                    Morango
                </li>
            </ul>
        </section>
        <section>
            <span>Como fazer:</span>
            <ol>
                <li>
                    Misture todos os ingredientes do bolo
                </li>
                <li>
                    Misture o chocolate na massaroca
                </li>
                <li>
                    Enfie no forno por 40 minutos
                </li>
                <li>
                    Coma
                </li>
            </ol>
        </section>
    </div>
</main>
</body>
</html>